html
  box-sizing: border-box

*,
*::before,
*::after
  box-sizing: inherit

.automation
  margin: 0 auto
  padding-bottom: 80px
  max-width: 100%
  display: flex
  justify-content: center
  align-items: center

.automation-wrap
  width: 1130px
  display: flex
  justify-content: space-between
  align-items: center

.automation-card
  display: inline-block
  max-width: 525px

.automation-title
  margin: 0
  margin-bottom: 25px
  font-family: 'Fraunces', sans-serif
  font-weight: 400
  font-size: 58px
  line-height: 64px
  letter-spacing: 0.2px
  color: $mine-shaft

.automation-text
  margin: 0
  margin-bottom: 25px
  max-width: 350px
  font-family: 'Inter', sans-serif
  font-weight: 400
  font-size: 20px
  line-height: 30px
  letter-spacing: 0.2px
  color: $mine-shaft

.automation-link
  margin-right: 25px
  display: inline-block
  padding: 10px 35px
  background-color: $allports
  font-family: 'Inter', sans-serif
  font-weight: 400
  font-size: 17px
  line-height: 27px
  letter-spacing: 0.2px
  color: $white
  text-decoration: none

.automation-referense
  display: inline-block
  padding: 10px 0
  font-family: 'Inter', sans-serif
  font-weight: 400
  font-size: 17px
  line-height: 27px
  text-align: center
  letter-spacing: 0.2px
  color: $allports
  text-decoration: none

.automation-image
  display: inline-block
  width: auto
  height: auto

.companies
  width: 100%
  padding-top: 80px
  padding-bottom: 80px
  display: flex
  flex-direction: column
  align-items: center
  background-color: $white-ice

.companies-title
  margin: 0
  margin-bottom: 25px
  font-family: 'Inter', sans-serif
  font-weight: 400
  font-size: 24px
  line-height: 38px
  letter-spacing: 0.2px
  color: $mine-shaft

.companies-wrap
  width: 730px
  display: flex
  justify-content: space-between
  align-items: center

.description
  padding-top: 80px
